.vscode/
.DS_Store

.terraform/
terraform.tfstate.d/
.terraform.lock.hcl
.history/

_PRJ-VPC-SUBNET/.terraform/
_PRJ-VPC-SUBNET/terraform.tfstate.d/
_PRJ-VPC-SUBNET/.terraform.lock.hcl

*/.terraform/
# */terraform.tfstate.d/
# */.terraform.lock.hcl