.vscode/
.DS_Store
.history/

# .terraform/
# terraform.tfstate.d/
# .terraform.lock.hcl

__PRJ0-S3-UNIQ/.terraform/

_PRJ-VPC-SUBNET/.terraform/
_PRJ-VPC-SUBNET/terraform.tfstate.d/
_PRJ-VPC-SUBNET/.terraform.lock.hcl

